:root {
    --bgcolor-main: #222222;
    --bgcolor-contrast: black;
    --txtcolor-main: darkgray;
    --txtcolor-contrast: snow;
    --txtcolor-muted: #666666; 
}

body {
    background-color: var(--bgcolor-contrast);
    color: var(--txtcolor-main);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box { border: solid 0px lightgray; }
.force-wrap { width: 100%; height: 0px; }

#main-container { /* MAIN FLEX BOX */
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--bgcolor-main);
    width: 80%;
    margin: auto;
    padding: 25px 50px;
}

/* --------------------------------------------------------------------------- */

.section { 
    box-sizing: border-box;
    display: flex; /* DEFAULT FLEX BEHAVIOR SET HERE */
    flex-flow: column nowrap;
    justify-content: space-between;
    border: solid 0px; /* EXTERNAL WIREFRAME BORDERS */
    padding: 5px;
}

#section-top { 
    flex-flow: row wrap; /* OVERRIDE */
    width: 100%; 
}

#section-main { width: 65%; }
#section-side { width: 35%; }

/* --------------------------------------------------------------------------- */

.subsection { 
    box-sizing: border-box;
    display: flex; /* DEFAULT FLEX BEHAVIOR SET HERE */
    flex-direction: column;
    justify-content: space-evenly;
    border: solid 0px rebeccapurple; /*INTERNAL WIREFRAME BORDERS*/
    padding: 10px; /* DEFAULT PADDING */
}

#subsection-image { 
    padding: 0px; /* OVERRIDE */
}

#subsection-header {
    justify-content: flex-start;
    padding: 0px; /* OVERRIDE */
}

#subsection-bio {
    width: 100%;
    border-color: var(--txtcolor-main);
    border-width: 0px 0px 1px 0px; /* main dividing line */
    padding-bottom: 50px;
}

#subsection-info {
    margin-left: auto; /* push name&location to the left */
}

#subsection-employment {}
#subsection-education {}
#subsection-skills {}
#subsection-languages {}
#subsection-likes {}

/* --------------------------------------------------------------------------- */

.subheader {
    font-size: 25px;
    font-weight: bold;
    color: var(--txtcolor-contrast);
    background-image: linear-gradient(to right, var(--bgcolor-main), var(--txtcolor-muted));
    padding: 10px 10px 10px 0px;
    margin-bottom: 10px;
}

/* --------------------------------------------------------------------------- */

.content-item {
    border: solid 1px var(--txtcolor-muted);
    border-width: 0px 0px 1px 0px;
    padding: 10px;
}

#content-item-image {
    border-width: 0px; /* Override display of content item's bottom border */
}

#content-item-name {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: var(--txtcolor-contrast);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-width: 0px; /* Override display of content item's bottom border */
}

#img-icon {
    width: 25px;
    height: 25px;
}

#content-item-icon {
    border-width: 0px; /* Override display of content item's bottom border */
}

#content-item-location {
    font-size: 25px;
    font-style: italic;
    border-width: 0px; /* Override display of content item's bottom border */
}

/* --------------------------------------------------------------------------- */

.card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border: solid 1px var(--txtcolor-muted);
    border-width: 0px 0px 1px 0px;
    padding: 10px;
}

.card-row1, .card-row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-topleft { /* Name of employer/institution */
    font-size: 20px;
    font-weight: bold;
    color: var(--txtcolor-contrast);
}

.card-topright { /* Dates */
    font-size: 20px;
    color: var(--txtcolor-muted);
}

.card-bottomleft { /* Job title / course name */
    font-size: 18px;
    font-weight: bold;
    padding-top: 2px;
}

.card-bottomright { /* Location */
    font-size: 18px;
    color: var(--txtcolor-muted);
    padding-top: 2px;
}

.card-main { /* Job description / course description */
    width: 100%;
    padding: 10px 0px;
}

/* --------------------------------------------------------------------------- */

.language-item {
    display: flex;
    align-items: center;
    padding: 10px;
}

.language-item > :first-child { /* push circles to the right */
    margin-left: auto;
}

.skill-item {
    display: flex;
    align-items: center;
    padding: 10px;
}

/* --------------------------------------------------------------------------- */

.circle-empty {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 3px;
}

.circle-filled {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    margin: 3px;
}

.bullet-square {
    width: 10px;
    height: 10px;
    min-width: 10px;
    border: 1px solid black;
    background-color: black;
    margin-right: 15px;
}

.purple-filling { background-color: rebeccapurple; border-color: rebeccapurple; }
.blue-filling { background-color: steelblue; border-color: steelblue; }
.teal-filling { background-color: teal; border-color: teal; }
.yellow-filling { background-color: goldenrod; border-color: goldenrod; }
.orange-filling { background-color: peru; border-color: peru; }
.teal-border { border-color: teal; }

