:root {
    --bgcolor-main: #222222;
    --bgcolor-contrast: black;
    --txtcolor-main: darkgray;
    --txtcolor-contrast: snow;
    --txtcolor-muted: #666666; 
    --purple: rebeccapurple; --purplepale: #8855bb;
    --blue: steelblue; --bluepale: #68a4d6;
    --green: teal; --greenpale: #22a2a2;
    --yellow: goldenrod; --yellowpale: #fcc742;
    --orange: peru; --orangepale: #efa761;
}

/* Dummy div class for forced wrapping in flex row mode */
.force-wrap { width: 100%; height: 0px; }

body {
    background-color: var(--bgcolor-contrast);
    color: var(--txtcolor-main);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main-container { /* MAIN FLEX BOX */
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--bgcolor-main);
    width: 80%;
    margin: auto;
    padding: 25px 50px;
}

/* --------------------------------------------------------------------------- */

.section { 
    box-sizing: border-box;
    display: flex; /* DEFAULT FLEX BEHAVIOR SET HERE */
    flex-flow: column nowrap;
    justify-content: space-between;
    border: solid 0px; /* EXTERNAL WIREFRAME BORDERS */
    padding: 5px;
}

#section-top { 
    flex-flow: row wrap; /* OVERRIDE */
    width: 100%; 
}

#section-main { width: 65%; }
#section-side { width: 35%; }
#img-main { height: 175px; }

/* --------------------------------------------------------------------------- */

.subsection { 
    box-sizing: border-box;
    display: flex; /* DEFAULT FLEX BEHAVIOR SET HERE */
    flex-flow: column nowrap;
    justify-content: space-between;
    border: solid 0px rebeccapurple; /*INTERNAL WIREFRAME BORDERS*/
    padding: 10px; /* DEFAULT PADDING */
}

#subsection-intro {
    flex-flow: row wrap;
    padding: 0px; /* OVERRIDE */
}

#subsection-info { 
    padding: 0px; 
    justify-content: flex-start; /* OVERRIDE */
}

#subsection-bio {
    width: 100%;
    border-color: var(--txtcolor-main);
    border-width: 0px 0px 1px 0px; /* main dividing line */
    padding-bottom: 50px;
}

#subsection-employment {}
#subsection-education {}
#subsection-skills {}
#subsection-languages {}
#subsection-likes {}

/* --------------------------------------------------------------------------- */

.subheader {
    font-size: 25px;
    font-weight: bold;
    color: var(--txtcolor-contrast);
    background-image: linear-gradient(to right, var(--bgcolor-main), var(--txtcolor-muted));
    padding: 10px 10px 10px 0px;
    margin-bottom: 10px;
}

/* --------------------------------------------------------------------------- */

#intro-name {
    font-size: 35px;
    font-weight: bold;
    color: var(--txtcolor-contrast);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#intro-location {
    font-size: 25px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#intro-text {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* --------------------------------------------------------------------------- */

.card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border: solid 1px var(--txtcolor-muted);
    border-width: 0px 0px 1px 0px;
    padding: 10px;
}

.card-topleft { /* Name of employer/institution */
    font-size: 20px;
    font-weight: bold;
    color: var(--txtcolor-contrast);
}

.card-topright { /* Dates */
    font-size: 20px;
    color: var(--txtcolor-muted);
}

.card-bottomleft { /* Job title / course name */
    font-size: 18px;
    font-weight: bold;
    padding-top: 2px;
}

.card-bottomright { /* Location */
    font-size: 18px;
    color: var(--txtcolor-muted);
    padding-top: 2px;
}

.card-main { /* Job description / course description */
    width: 100%;
    padding: 10px 0px;
}

/* --------------------------------------------------------------------------- */

.item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.info-item { justify-content: flex-end; }
.language-item > :first-child { margin-left: auto; }
.skill-item { justify-content: flex-start; }
.like-item { flex-wrap: wrap; }

/* --------------------------------------------------------------------------- */

.circle {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 3px;
}

#circle-1A { background-color: var(--purple); border-color: var(--purple); }
#circle-1B { background-color: var(--purple); border-color: var(--purple); }
#circle-1C { background-color: var(--purple); border-color: var(--purple); }
#circle-1D { background-color: var(--purple); border-color: var(--purple); }
#circle-1E { background-color: var(--purple); border-color: var(--purple); }
#circle-2A { background-color: var(--blue); border-color: var(--blue); }
#circle-2B { background-color: var(--blue); border-color: var(--blue); }
#circle-2C { background-color: var(--blue); border-color: var(--blue); }
#circle-2D { background-color: var(--blue); border-color: var(--blue); }
#circle-2E { background-color: var(--blue); border-color: var(--blue); }
#circle-3A { background-color: var(--green); border-color: var(--green); }
#circle-3B { background-color: var(--green); border-color: var(--green); }
#circle-3C { background-color: var(--green); border-color: var(--green); }
#circle-3D { border-color: var(--green); }
#circle-3E { border-color: var(--green); }

.bulletsquare {
    width: 10px;
    height: 10px;
    min-width: 10px;
    border: 2px solid black;
    margin-right: 15px;
}

#bullet-1 { background-color: var(--purple); }
#bullet-2 { background-color: var(--blue); }
#bullet-3 { background-color: var(--green); }
#bullet-4 { background-color: var(--yellow); }
#bullet-5 { background-color: var(--orange); }

.percentbar {
    box-sizing: border-box;
    height: 15px;
    margin: 5px auto;
    border: 2px solid black;
}

#bar-1A { width: 97%; background-color: var(--purple); border-color: var(--purple); }
#bar-1B { width: 3%; background-color: var(--purplepale); border-color: var(--purple); }
#bar-2A { width: 85%; background-color: var(--blue); border-color: var(--blue); }
#bar-2B { width: 15%; background-color: var(--bluepale); border-color: var(--blue); }
#bar-3A { width: 67%; background-color: var(--green); border-color: var(--green); }
#bar-3B { width: 33%; background-color: var(--greenpale); border-color: var(--green); }
#bar-4A { width: 55%; background-color: var(--yellow); border-color: var(--yellow); }
#bar-4B { width: 45%; background-color: var(--yellowpale); border-color: var(--yellow); }
#bar-5A { width: 100%; background-color: var(--orange); border-color: var(--orange); }
#bar-5B { width: 0%; background-color: var(--orangepale); border-color: var(--orange); }
